h1, h2, h3{
    color: blue;
    text-align: center;
    width: 400px;
}
p{
    width: 400px;
    text-align: justify;
    text-indent: 30px;
    font: 14px/30px Arial, sans-serif;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 15px;
}