h1{
    color: red;
    text-align: center;
    width: 400px;
}
ol{
    color: red;
}
h2{
    color: green;
}
ul{
    color: rgb(190, 119, 137);
    width: 350px;
}
p{
    width: 400px;
    text-align: justify;
    font: 12px/2 Arial, sans-serif;
}