* {
  box-sizing: border-box;
}

/* Header */

.header {
  padding: 10px 10px;
  width: 100%;
  height: 90px;
  background-color: rgb(1, 1, 1, 1);
  box-shadow: 10px 12px 10px white;
}

.header_position {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

    /* Navigation */

.header__title {
  margin-right: 40px;
  display: inline;
  color: white;
}

.header__nav {
  width: 70vw;
  max-width: 500px;
}

.header__nav,
.header__nav-item {
  display: inline-flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.header__nav-link:not(:last-child) {
  margin-right: 5px;
}

.header__nav-link {
  color: red;
  text-decoration: none;
}

/* Main */

.main_position {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}


/* Content */

.content_position {
  width: 73%;
  min-width: 200px;
}

.content__item {
  word-break: break-word;
}

.content__padding {
  position: relative;
  bottom: 80px;
}

.content__title {
  padding-left: 30px;
  position: sticky;
  top: 100px;
  z-index: 0;
  background-color: black;
  color: white;
  box-shadow: 10px 10px 10px white;
}

.content__list-item {
  list-style-type: none;
}

/* Aside */

.aside_position {
  width: 25%;
  min-width: 200px;
  word-break: break-word;
}

.aside__list {
  padding: 0;
}

.aside__list-item {
  list-style-type: none;
}

.aside__usefull-link {
  text-decoration: none;
}