html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'font', sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-color: #0717a3;
}

body{
    /* background-image: url("fone.jpg"); */
    /* background: url("fone1.jpg") repeat center scroll; */
    /* margin-left: 20px;
    margin-right: 20px; */
}
p{
    color: black; /*задаем цвет элемента*/
    text-align: justify; /*задаем тексту выравниание по ширине*/
    font: italic bold 16px/20px Arial; /*шрифт текста*/
    text-indent: 30px; /*красная строка*/
}
h1{
    color: black;
    /* text-align: center; выравнивание текста по центру */
}
h2{
    color: blue;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    font-family: "Times New Roman";
}
h3{
    color: orange;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
td{
    color: black;
    vertical-align: middle;
    text-align: center;
}
th{
    vertical-align: center;
}
ul, ol{
    color: white;
}
.menu{
    display: flex;
    margin: 10px auto 10px auto;
    padding: 10px;
    border: 1px solid green;
    width: 100%;
    justify-content: center;
    position: fixed;
    /* text-align: center; */
}
.point{
    border: 1px solid red;
    margin: 10px auto 20px;
    display: inline;
}
.pMenu{
    border: 1px solid red;
    margin: 10px;
    display: inline;
}
.head{
    display: flex;
    padding: 120px 20px 30px 20px;
}
.head img{
    margin: 10px; /*отступ фото профиля*/
}
.left{
    text-align: left;
}
#link a:link, a:visited{
    text-decoration: none;
    color: red;
}
#link a:hover{
    text-decoration: underline;
    color: rgb(49, 179, 255);
}
#link{
    border:10px groove rgb(49, 179, 255);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
}
a:link.table, a:visited.table{
    text-decoration: underline;
    color:rgb(49, 179, 255);
}
a:hover.table{
    text-decoration: none;
}